{% extends "layout.html.twig" %}

{% block content %}
    <div class="page-header">
        <h1>{{ project.name }} <small>filed in <a href="{{ path('category_show', { "slug": project.category }) }}">{{ project.category | category }}</a> by {{ project.username | username }}</h1>
    </div>

    <p>{{ project.description_html|raw }}</p>

    {% if project.username == username %}
        <form method="post" action="{{ path('project_delete', { 'id': project.id }) }}">
        <div class="actions">
            <button type="submit" class="btn danger">Delete</button>
            <a class="btn" href="{{ path('project_edit', { 'id': project.id }) }}">Edit</a>
        </div>
        </form>
    {% endif %}

    <div class="row">

        <div class="span8">

            {% include 'Project/_comments.html.twig' with { "form": comment_form } %}

        </div>

        <div class="span8">

            {% include 'Project/_links.html.twig' with { "form": link_form } %}

            {% include 'Project/_voters.html.twig' %}

        </div>
        
    </div>
{% endblock %}
