{% extends "layout.html.twig" %}

{% block content %}
    <div class="page-header">
        <h1>{{ project.name }} <small>by {{ project.username }}</small></h1>
    </div>

    <div class="row">

        <div class="span-two-thirds">

            <p>{{ project.description_html|raw }}</p>

        </div>

        <div class="span-one-third">

            {% if project.username == username %}
                <form method="post" action="{{ path('project_delete', { 'id': project.id }) }}">
                <div class="well">
                    <button type="submit" class="btn danger">Delete</button>
                    <a class="btn" href="{{ path('project_edit', { 'id': project.id }) }}">Edit</a>
                </div>
                </form>
            {% endif %}

        </div>

    </div>

    <div class="row">

        <div class="span8">

            <h2 id="comments">
                Comments
                {% if comments|length %}
                <small>{{ comments|length }} of them</small>
                {% endif %}
            </h2>

            {% for comment in comments %}
                <h3 id="comment-{{ comment.id }}">
                    By {{ comment.username }}
                </h3>

                <p>{{ comment.content_html | raw }}</p>

                {% if false and comment.username == username %}
                <form method="post" action="{{ path('comment_delete', { 'id': comment.id }) }}">
                    <div class="actions">
                        <button class="btn danger">Delete this comment</button>
                    </div>
                </form>
                {% endif %}

            {% endfor %}

            <div>
                <form method="post" action="{{ path('project_comment', { "id": project.id }) }}">

                    {{ form_errors(form) }}
                    
                    <fieldset>
                        <div class="clearfix">
                            {{ form_label(form.content) }}
                            {{ form_errors(form.content) }}
                            <div class="input">
                                {{ form_widget(form.content, { "attr": { "class": "xlarge" } }) }}
                            </div>
                        </div>
                    </fieldset>

                  {{ form_rest(form) }}

                    <div class="actions">
                        <button class="btn primary">Post comment</button>
                    </div>
                </form>
            </div>

        </div>

        <div class="span8">
            <h2 id="voters">
                Voters
                <small>(
                    {% if not project.has_voted %}
                        <a href="{{ path("project_vote", { "id": project.id }) }}?return_url={{ path('project_show', { "id": project.id }) | url_encode }}">+1</a>
                    {% else %}
                        <a class="warning" href="{{ path('project_unvote', { "id": project.id }) }}?return_url={{ path('project_show', { "id": project.id }) | url_encode }}">-1</a>
                    {% endif %}
                )</small>
            </h2>

            {% if voters %}
            <p>{{ voters | length }} people voted for this project</p>
            <ul>
            {% for voter in voters %}
                <li>{{ voter.username }}</li>
            {% endfor %}
            </ul>
            {% else %}
                <p>Nobody voted for this project yet :-(</p>
            {% endif %}
        </div>
{% endblock %}
