{% extends "layout.html.twig" %}

{% block content %}
    <div class="page-header">
        <h1>{{ project.name }} <small>by {{ project.username }}</small></h1>
    </div>

    <p>{{ project.description|markdown }}</p>

    {% if project.username == username %}
        <form method="post" action="{{ path('project_delete', { 'id': project.id }) }}">
        <div class="actions">
            <p>This project is yours. You have the powerz!</p>
            <a class="btn primary small" href="{{ path('project_edit', { 'id': project.id }) }}">Edit</a>
            <button type="submit" class="btn danger small">Delete</button>
        </div>
        </form>
    {% endif %}

    <h2>
        Comments
        {% if comments|length %}
        <small>{{ comments|length }} of them</small>
        {% endif %}
    </h2>

    {% for comment in comments %}
    <div class="row">
        <div class="span-two-thirds columns">
            <blockquote>
                <p>{{ comment.content|markdown }}</p>
                <small>{{ comment.username }}</small>
            </blockquote>
        </div>

        <div class="span-one-third columns">
        {% if comment.username == username %}
            <form method="post" action="{{ path('comment_delete', { 'id': comment.id }) }}">
                <div class="right-actions">
                    <button class="btn danger small">Delete</button>
                </div>
            </form>
        {% endif %}
        </div>
    </div>

    {% endfor %}

    <div>
        <form method="post" action="{{ path('project_comment', { "id": project.id }) }}">

            {{ form_errors(form) }}
            
            <fieldset>
                <div class="clearfix">
                    {{ form_label(form.content) }}
                    {{ form_errors(form.content) }}
                    <div class="input">
                        {{ form_widget(form.content, { "attr": { "class": "xlarge" } }) }}
                    </div>
                </div>
            </fieldset>

          {{ form_rest(form) }}

            <div class="actions">
                <button class="btn primary">Post comment</button>
            </div>
        </form>
    </div>
{% endblock %}