{% extends 'layout.html.twig' %}

{% block content %}
    <div class="page-header">
        <h1>Recently added projects</h1>
    </div>

    {% for project in projects %}
        <h2>
            <a href="{{ path('project_show', { "id": project.id }) }}">{{ project.name }}</a>
            <small>
                {% if project.comments == 0 %}
                    no comments
                {% elseif project.comments == 1 %}
                    1 comment
                {% else %}
                    {{ project.comments }} comments
                {% endif %}
            </small>
            <small>
                {% if project.votes == 0 %}
                    no votes
                {% elseif project.votes == 1 %}
                    1 vote
                {% else %}
                    {{ project.votes }} votes
                {% endif %}
            </small>
            {% if project.has_voted == 0 %}
                <small><a href="{{ path('project_vote', { "id": project.id }) }}">vote for it!</a></small>
            {% endif %}
        </h2>
        <p>{{ project.description_html|raw }}</p>
    {% endfor %}

{% endblock %}
