{% extends 'layout.html.twig' %}

{% block content %}
    <div class="row">
        <div class="span8">
            <div class="page-header">
                <h2>Recently added projects</h2>
            </div>

            {% for project in projects %}
                <h3>
                    <a href="{{ path('project_show', { "id": project.id }) }}">{{ project.name }}</a>
                    <small>
                        {% if project.comments == 0 %}
                            no comments
                        {% elseif project.comments == 1 %}
                            1 comment
                        {% else %}
                            {{ project.comments }} comments
                        {% endif %}
                        /

                        {% if project.votes == 0 %}
                            no votes
                        {% elseif project.votes == 1 %}
                            1 vote
                        {% else %}
                            {{ project.votes }} votes
                        {% endif %}

                        {% if project.has_voted == 0 %}
                            ( <a href="{{ path('project_vote', { "id": project.id }) }}">+1</a> )
                        {% endif %}
                    </small>
                </h3>
            {% endfor %}
        </div>

        <div class="span8">
            <div class="page-header"><h2>Last comments</h2></div>

            {% for comment in comments %}
            <h3>By {{ comment.username | username }} <small> in <a href="{{ path('project_show', { 'id': comment.project_id }) }}#comment-{{ comment.id }}">{{ comment.project_name }}</a> on {{ c.created_at | date('D, d M — H:i') }}</small></h3>

            <div>
                <img src="{{ gravatar(comment.username) }}" class="gravatar" />
                {{ comment.content_html | raw }}
            </div>

            <div class="clear"></div>
            {% endfor %}
        </div>

{% endblock %}